name: Enforce PR Checklist
on: 
  pull_request:
    types: [opened, edited, reopened, synchronize]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    env:
        GH_TOKEN: ${{ secrets.TOCKEN_REGISTRY }}
        A: ${{ toJson(github.event.pull_request) }}
        B: ${{ github.event.pull_request.id }}
        C: ${{ github.event.pull_request.number }}
        D: ${{ github.event.pull_request.state }}
        E: ${{ github.event.pull_request.title }}
    steps:
    - uses: actions/checkout@master
    - name: copy file
      uses: canastro/copy-file-action@master
      with:
        source: "Main.java"
        target: "appfiles/main.java"
    - name: run tests
      run: |
        cd "appfiles"
        ls
        cat main.java
    - name: Retrieve secret
      env:
        super_secret: ${{ secrets.SUPERSECRET }}
        user_secret: ${{ secrets.GITHUB_USER }}
        GH_TOKEN: ${{ secrets.TOCKEN_REGISTRY }}
      run: |
        echo $super_secret
        echo $user_secret
        echo ${{github.event_name}}
        echo "ref name :" ${{github.ref_name}}
        echo "sha :" ${{github.sha}}
        echo "repository : " ${{github.repository}}
        echo $GITHUB_BASE_REF
      
    # Ajoutez un fichier README.md au dépôt
    - name: Add README.md
      run: |
        echo "# Bienvenue dans ce projet" > README.md
        echo "Ce fichier a été ajouté automatiquement via une GitHub Action." >> README.md    
    
    - name: Validate PR checkboxes
      id: checkboxes
       
      run: |
        # Get the PR body
        PR_BODY="${{ github.event.pull_request.body }}"
        echo $PR_BODY

        # Define the required checkbox text
        REQUIRED_CHECKBOXES=("Task 1" "Task 2")

        # Check for each required checkbox
        # for TASK in "${REQUIRED_CHECKBOXES[@]}"; do
        #   if ! echo "$PR_BODY" | grep -qE "- \[x\] $TASK"; then
        #     echo "❌ Checkbox for '$TASK' is not checked!"
        #     exit 1
        #   fi
        # done

        # echo "✅ All required checkboxes are checked!"


    - name: Cache node modules
      uses: actions/cache@v3
      env:
        cache-name: cache-node
      with:
        path: ./
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('Dockerfile') }}
        restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
    - name: Create comment
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        recreate: true
        message: |
            Release ${{ github.sha }} to <https://pr-${{ github.event.number }}.example.com>
